<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>256</integer>
		<key>height</key>
		<integer>128</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>beaver3p_stun1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>57</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>beaver3p_stun2.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>59</integer>
			<key>width</key>
			<integer>79</integer>
			<key>height</key>
			<integer>57</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>79</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>beaver3p_stun3.png</key>
		<dict>
			<key>x</key>
			<integer>82</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>79</integer>
			<key>height</key>
			<integer>57</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>79</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>beaver3p_stun4.png</key>
		<dict>
			<key>x</key>
			<integer>82</integer>
			<key>y</key>
			<integer>59</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>57</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>82</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>beaver3p_stun5.png</key>
		<dict>
			<key>x</key>
			<integer>165</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>57</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
	</dict>
</dict>
</plist>