<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>64</integer>
		<key>height</key>
		<integer>256</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>turtle01.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>145</integer>
			<key>width</key>
			<integer>60</integer>
			<key>height</key>
			<integer>43</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>60</integer>
			<key>originalHeight</key>
			<integer>52</integer>
		</dict>
		<key>turtle02.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>92</integer>
			<key>width</key>
			<integer>60</integer>
			<key>height</key>
			<integer>52</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>60</integer>
			<key>originalHeight</key>
			<integer>52</integer>
		</dict>
		<key>turtle03.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>41</integer>
			<key>width</key>
			<integer>58</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>60</integer>
			<key>originalHeight</key>
			<integer>52</integer>
		</dict>
		<key>turtle04.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>57</integer>
			<key>height</key>
			<integer>39</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>60</integer>
			<key>originalHeight</key>
			<integer>52</integer>
		</dict>
	</dict>
</dict>
</plist>