<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>256</integer>
		<key>height</key>
		<integer>128</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>beaver2p_cry1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>22</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>beaver2p_cry2.png</key>
		<dict>
			<key>x</key>
			<integer>202</integer>
			<key>y</key>
			<integer>31</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>24</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>beaver2p_cry3.png</key>
		<dict>
			<key>x</key>
			<integer>205</integer>
			<key>y</key>
			<integer>62</integer>
			<key>width</key>
			<integer>39</integer>
			<key>height</key>
			<integer>25</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>beaver2p_cry4.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>93</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>29</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>beaver2p_cry5.png</key>
		<dict>
			<key>x</key>
			<integer>42</integer>
			<key>y</key>
			<integer>93</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>21</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>beaver2p_cry6.png</key>
		<dict>
			<key>x</key>
			<integer>83</integer>
			<key>y</key>
			<integer>93</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>23</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>beaver2p_cry7.png</key>
		<dict>
			<key>x</key>
			<integer>124</integer>
			<key>y</key>
			<integer>93</integer>
			<key>width</key>
			<integer>39</integer>
			<key>height</key>
			<integer>27</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>beaver2p_cry8.png</key>
		<dict>
			<key>x</key>
			<integer>164</integer>
			<key>y</key>
			<integer>93</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>29</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>beaver2p_cry9.png</key>
		<dict>
			<key>x</key>
			<integer>205</integer>
			<key>y</key>
			<integer>93</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>24</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>beaver2p_cry10.png</key>
		<dict>
			<key>x</key>
			<integer>42</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>24</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>beaver2p_cry11.png</key>
		<dict>
			<key>x</key>
			<integer>83</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>39</integer>
			<key>height</key>
			<integer>25</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>beaver2p_cry12.png</key>
		<dict>
			<key>x</key>
			<integer>123</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>29</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>beaver2p_cry13.png</key>
		<dict>
			<key>x</key>
			<integer>164</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>21</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>beaver2p_cry14.png</key>
		<dict>
			<key>x</key>
			<integer>205</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>26</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>beaver2p_cry15.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>31</integer>
			<key>width</key>
			<integer>37</integer>
			<key>height</key>
			<integer>29</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>beaver2p_cry16.png</key>
		<dict>
			<key>x</key>
			<integer>39</integer>
			<key>y</key>
			<integer>31</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>29</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>beaver2p_cry17.png</key>
		<dict>
			<key>x</key>
			<integer>80</integer>
			<key>y</key>
			<integer>31</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>28</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>beaver2p_cry18.png</key>
		<dict>
			<key>x</key>
			<integer>121</integer>
			<key>y</key>
			<integer>31</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>30</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>beaver2p_cry19.png</key>
		<dict>
			<key>x</key>
			<integer>162</integer>
			<key>y</key>
			<integer>31</integer>
			<key>width</key>
			<integer>39</integer>
			<key>height</key>
			<integer>30</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>beaver2p_cry20.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>62</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>30</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>beaver2p_cry21.png</key>
		<dict>
			<key>x</key>
			<integer>42</integer>
			<key>y</key>
			<integer>62</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>28</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>beaver2p_cry22.png</key>
		<dict>
			<key>x</key>
			<integer>83</integer>
			<key>y</key>
			<integer>62</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>26</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>beaver2p_cry23.png</key>
		<dict>
			<key>x</key>
			<integer>124</integer>
			<key>y</key>
			<integer>62</integer>
			<key>width</key>
			<integer>39</integer>
			<key>height</key>
			<integer>28</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>beaver2p_cry24.png</key>
		<dict>
			<key>x</key>
			<integer>164</integer>
			<key>y</key>
			<integer>62</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>30</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
	</dict>
</dict>
</plist>