<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>128</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>beaver4p_cry1.png</key>
		<dict>
			<key>x</key>
			<integer>884</integer>
			<key>y</key>
			<integer>48</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>43</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>43</integer>
		</dict>
		<key>beaver4p_cry2.png</key>
		<dict>
			<key>x</key>
			<integer>482</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>79</integer>
			<key>height</key>
			<integer>46</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>79</integer>
			<key>originalHeight</key>
			<integer>46</integer>
		</dict>
		<key>beaver4p_cry3.png</key>
		<dict>
			<key>x</key>
			<integer>241</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>78</integer>
			<key>height</key>
			<integer>46</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>46</integer>
		</dict>
		<key>beaver4p_cry4.png</key>
		<dict>
			<key>x</key>
			<integer>161</integer>
			<key>y</key>
			<integer>43</integer>
			<key>width</key>
			<integer>79</integer>
			<key>height</key>
			<integer>46</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>79</integer>
			<key>originalHeight</key>
			<integer>46</integer>
		</dict>
		<key>beaver4p_cry5.png</key>
		<dict>
			<key>x</key>
			<integer>161</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>79</integer>
			<key>height</key>
			<integer>41</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>79</integer>
			<key>originalHeight</key>
			<integer>41</integer>
		</dict>
		<key>beaver4p_cry6.png</key>
		<dict>
			<key>x</key>
			<integer>81</integer>
			<key>y</key>
			<integer>48</integer>
			<key>width</key>
			<integer>79</integer>
			<key>height</key>
			<integer>45</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>79</integer>
			<key>originalHeight</key>
			<integer>45</integer>
		</dict>
		<key>beaver4p_cry7.png</key>
		<dict>
			<key>x</key>
			<integer>81</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>78</integer>
			<key>height</key>
			<integer>46</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>46</integer>
		</dict>
		<key>beaver4p_cry8.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>48</integer>
			<key>width</key>
			<integer>79</integer>
			<key>height</key>
			<integer>46</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>79</integer>
			<key>originalHeight</key>
			<integer>46</integer>
		</dict>
		<key>beaver4p_cry9.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>79</integer>
			<key>height</key>
			<integer>46</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>79</integer>
			<key>originalHeight</key>
			<integer>46</integer>
		</dict>
		<key>beaver4p_cry10.png</key>
		<dict>
			<key>x</key>
			<integer>884</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>79</integer>
			<key>height</key>
			<integer>46</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>79</integer>
			<key>originalHeight</key>
			<integer>46</integer>
		</dict>
		<key>beaver4p_cry11.png</key>
		<dict>
			<key>x</key>
			<integer>804</integer>
			<key>y</key>
			<integer>60</integer>
			<key>width</key>
			<integer>78</integer>
			<key>height</key>
			<integer>48</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>48</integer>
		</dict>
		<key>beaver4p_cry12.png</key>
		<dict>
			<key>x</key>
			<integer>804</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>79</integer>
			<key>height</key>
			<integer>58</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>79</integer>
			<key>originalHeight</key>
			<integer>58</integer>
		</dict>
		<key>beaver4p_cry13.png</key>
		<dict>
			<key>x</key>
			<integer>723</integer>
			<key>y</key>
			<integer>52</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>41</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>41</integer>
		</dict>
		<key>beaver4p_cry14.png</key>
		<dict>
			<key>x</key>
			<integer>723</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>79</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>79</integer>
			<key>originalHeight</key>
			<integer>50</integer>
		</dict>
		<key>beaver4p_cry15.png</key>
		<dict>
			<key>x</key>
			<integer>643</integer>
			<key>y</key>
			<integer>60</integer>
			<key>width</key>
			<integer>75</integer>
			<key>height</key>
			<integer>56</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>75</integer>
			<key>originalHeight</key>
			<integer>56</integer>
		</dict>
		<key>beaver4p_cry16.png</key>
		<dict>
			<key>x</key>
			<integer>643</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>79</integer>
			<key>height</key>
			<integer>58</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>79</integer>
			<key>originalHeight</key>
			<integer>58</integer>
		</dict>
		<key>beaver4p_cry17.png</key>
		<dict>
			<key>x</key>
			<integer>562</integer>
			<key>y</key>
			<integer>59</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>56</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>56</integer>
		</dict>
		<key>beaver4p_cry18.png</key>
		<dict>
			<key>x</key>
			<integer>562</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>79</integer>
			<key>height</key>
			<integer>57</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>79</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>beaver4p_cry19.png</key>
		<dict>
			<key>x</key>
			<integer>482</integer>
			<key>y</key>
			<integer>48</integer>
			<key>width</key>
			<integer>78</integer>
			<key>height</key>
			<integer>59</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>59</integer>
		</dict>
		<key>beaver4p_cry20.png</key>
		<dict>
			<key>x</key>
			<integer>401</integer>
			<key>y</key>
			<integer>57</integer>
			<key>width</key>
			<integer>79</integer>
			<key>height</key>
			<integer>58</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>79</integer>
			<key>originalHeight</key>
			<integer>58</integer>
		</dict>
		<key>beaver4p_cry21.png</key>
		<dict>
			<key>x</key>
			<integer>401</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>55</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>55</integer>
		</dict>
		<key>beaver4p_cry22.png</key>
		<dict>
			<key>x</key>
			<integer>321</integer>
			<key>y</key>
			<integer>55</integer>
			<key>width</key>
			<integer>79</integer>
			<key>height</key>
			<integer>51</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>79</integer>
			<key>originalHeight</key>
			<integer>51</integer>
		</dict>
		<key>beaver4p_cry23.png</key>
		<dict>
			<key>x</key>
			<integer>321</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>75</integer>
			<key>height</key>
			<integer>53</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>75</integer>
			<key>originalHeight</key>
			<integer>53</integer>
		</dict>
		<key>beaver4p_cry24.png</key>
		<dict>
			<key>x</key>
			<integer>241</integer>
			<key>y</key>
			<integer>48</integer>
			<key>width</key>
			<integer>79</integer>
			<key>height</key>
			<integer>58</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>79</integer>
			<key>originalHeight</key>
			<integer>58</integer>
		</dict>
	</dict>
</dict>
</plist>