<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>256</integer>
		<key>height</key>
		<integer>128</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>beaver2p_normal1.png</key>
		<dict>
			<key>x</key>
			<integer>123</integer>
			<key>y</key>
			<integer>86</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>22</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>beaver2p_normal2.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>61</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>24</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>beaver2p_normal3.png</key>
		<dict>
			<key>x</key>
			<integer>42</integer>
			<key>y</key>
			<integer>86</integer>
			<key>width</key>
			<integer>39</integer>
			<key>height</key>
			<integer>23</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>beaver2p_normal4.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>86</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>23</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>beaver2p_normal5.png</key>
		<dict>
			<key>x</key>
			<integer>164</integer>
			<key>y</key>
			<integer>86</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>21</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>beaver2p_normal6.png</key>
		<dict>
			<key>x</key>
			<integer>82</integer>
			<key>y</key>
			<integer>86</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>23</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>beaver2p_normal7.png</key>
		<dict>
			<key>x</key>
			<integer>205</integer>
			<key>y</key>
			<integer>32</integer>
			<key>width</key>
			<integer>39</integer>
			<key>height</key>
			<integer>26</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>beaver2p_normal8.png</key>
		<dict>
			<key>x</key>
			<integer>164</integer>
			<key>y</key>
			<integer>61</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>24</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>beaver2p_normal9.png</key>
		<dict>
			<key>x</key>
			<integer>123</integer>
			<key>y</key>
			<integer>61</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>24</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>beaver2p_normal10.png</key>
		<dict>
			<key>x</key>
			<integer>82</integer>
			<key>y</key>
			<integer>61</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>24</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>beaver2p_normal11.png</key>
		<dict>
			<key>x</key>
			<integer>42</integer>
			<key>y</key>
			<integer>61</integer>
			<key>width</key>
			<integer>39</integer>
			<key>height</key>
			<integer>24</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>beaver2p_normal12.png</key>
		<dict>
			<key>x</key>
			<integer>205</integer>
			<key>y</key>
			<integer>61</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>23</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>beaver2p_normal13.png</key>
		<dict>
			<key>x</key>
			<integer>205</integer>
			<key>y</key>
			<integer>86</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>21</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>beaver2p_normal14.png</key>
		<dict>
			<key>x</key>
			<integer>164</integer>
			<key>y</key>
			<integer>32</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>26</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>beaver2p_normal15.png</key>
		<dict>
			<key>x</key>
			<integer>164</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>37</integer>
			<key>height</key>
			<integer>29</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>beaver2p_normal16.png</key>
		<dict>
			<key>x</key>
			<integer>82</integer>
			<key>y</key>
			<integer>32</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>26</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>beaver2p_normal17.png</key>
		<dict>
			<key>x</key>
			<integer>202</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>28</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>beaver2p_normal18.png</key>
		<dict>
			<key>x</key>
			<integer>123</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>30</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>beaver2p_normal19.png</key>
		<dict>
			<key>x</key>
			<integer>83</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>39</integer>
			<key>height</key>
			<integer>30</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>beaver2p_normal20.png</key>
		<dict>
			<key>x</key>
			<integer>42</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>30</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>beaver2p_normal21.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>32</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>28</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>beaver2p_normal22.png</key>
		<dict>
			<key>x</key>
			<integer>123</integer>
			<key>y</key>
			<integer>32</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>26</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>beaver2p_normal23.png</key>
		<dict>
			<key>x</key>
			<integer>42</integer>
			<key>y</key>
			<integer>32</integer>
			<key>width</key>
			<integer>39</integer>
			<key>height</key>
			<integer>28</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>beaver2p_normal24.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>30</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
	</dict>
</dict>
</plist>