<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>128</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>beaver_normal1.png</key>
		<dict>
			<key>x</key>
			<integer>480</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>59</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>59</integer>
		</dict>
		<key>beaver_normal2.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>59</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>59</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>59</integer>
		</dict>
		<key>beaver_normal3.png</key>
		<dict>
			<key>x</key>
			<integer>80</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>59</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>59</integer>
		</dict>
		<key>beaver_normal4.png</key>
		<dict>
			<key>x</key>
			<integer>80</integer>
			<key>y</key>
			<integer>59</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>59</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>59</integer>
		</dict>
		<key>beaver_normal5.png</key>
		<dict>
			<key>x</key>
			<integer>160</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>59</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>59</integer>
		</dict>
		<key>beaver_normal6.png</key>
		<dict>
			<key>x</key>
			<integer>160</integer>
			<key>y</key>
			<integer>59</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>59</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>59</integer>
		</dict>
		<key>beaver_normal7.png</key>
		<dict>
			<key>x</key>
			<integer>240</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>59</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>59</integer>
		</dict>
		<key>beaver_normal8.png</key>
		<dict>
			<key>x</key>
			<integer>240</integer>
			<key>y</key>
			<integer>59</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>59</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>59</integer>
		</dict>
		<key>beaver_normal9.png</key>
		<dict>
			<key>x</key>
			<integer>320</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>59</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>59</integer>
		</dict>
		<key>beaver_normal10.png</key>
		<dict>
			<key>x</key>
			<integer>320</integer>
			<key>y</key>
			<integer>59</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>59</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>59</integer>
		</dict>
		<key>beaver_normal11.png</key>
		<dict>
			<key>x</key>
			<integer>400</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>59</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>59</integer>
		</dict>
		<key>beaver_normal12.png</key>
		<dict>
			<key>x</key>
			<integer>400</integer>
			<key>y</key>
			<integer>59</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>59</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>59</integer>
		</dict>
		<key>beaver_normal13.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>59</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>59</integer>
		</dict>
		<key>beaver_normal14.png</key>
		<dict>
			<key>x</key>
			<integer>480</integer>
			<key>y</key>
			<integer>59</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>59</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>59</integer>
		</dict>
		<key>beaver_normal15.png</key>
		<dict>
			<key>x</key>
			<integer>560</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>59</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>59</integer>
		</dict>
		<key>beaver_normal16.png</key>
		<dict>
			<key>x</key>
			<integer>560</integer>
			<key>y</key>
			<integer>59</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>59</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>59</integer>
		</dict>
		<key>beaver_normal17.png</key>
		<dict>
			<key>x</key>
			<integer>640</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>59</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>59</integer>
		</dict>
		<key>beaver_normal18.png</key>
		<dict>
			<key>x</key>
			<integer>640</integer>
			<key>y</key>
			<integer>59</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>59</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>59</integer>
		</dict>
		<key>beaver_normal19.png</key>
		<dict>
			<key>x</key>
			<integer>720</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>59</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>59</integer>
		</dict>
		<key>beaver_normal20.png</key>
		<dict>
			<key>x</key>
			<integer>720</integer>
			<key>y</key>
			<integer>59</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>59</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>59</integer>
		</dict>
		<key>beaver_normal21.png</key>
		<dict>
			<key>x</key>
			<integer>800</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>59</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>59</integer>
		</dict>
		<key>beaver_normal22.png</key>
		<dict>
			<key>x</key>
			<integer>800</integer>
			<key>y</key>
			<integer>59</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>59</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>59</integer>
		</dict>
		<key>beaver_normal23.png</key>
		<dict>
			<key>x</key>
			<integer>880</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>59</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>59</integer>
		</dict>
		<key>beaver_normal24.png</key>
		<dict>
			<key>x</key>
			<integer>880</integer>
			<key>y</key>
			<integer>59</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>59</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>59</integer>
		</dict>
	</dict>
</dict>
</plist>